.test {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.test_container {
  margin: 4rem 0;
  width: 85%;
  .test_head {
    display: flex;
    justify-content: center;
    .test_image_container {
      width: 12%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 3px solid rgb(146, 146, 146);
      cursor: pointer;
    }
  }
  .test_body {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    .test_body_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      h4 {
        font-size: 1.7rem;
        font-weight: 400;
        color: #182d55;
        width: 80%;
      }
      p {
        font-size: 1.2rem;
        color: #1babe2;
      }
    }
  }
}
.active_testimonial {
  border-bottom: 3px solid rgb(102, 156, 226) !important ;
}
