@use "../../App.scss" as *;
.hero_container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  gap: 3rem;
  align-items: center;
  height: 80vh;
  .hero_text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 {
      font-size: 80px;
      color: $second;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      color: $second;
    }
    button {
      width: fit-content;
      background-color: $main;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 20px;
      border-radius: 4px;
      outline: 1px solid $main;
      transition: 0.4s;
      box-shadow: 4px 4px 11px #293148;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background-color: transparent;
        color: $main;
        box-shadow: 4px 4px 11px #a3aece;
      }
    }
  }
}

.hero_n_image {
  width: 50vw;
  height: 60vh;
  object-fit: cover;
  position: relative;
}
#inline_id {
  opacity: 0;
  animation: draw3 1s 2s forwards;
}
#outline_id {
  fill: none;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 1.5s linear forwards, draw2 0s 1.5s forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw2 {
  to {
    opacity: 0;
  }
}
@keyframes draw3 {
  to {
    opacity: 1;
  }
}

#arrow {
  transform: translate(-50vw, -10vw);
  animation: arrow 1s 4.6s forwards;
}
@keyframes arrow {
  to {
    transform: translate(0, 0);
  }
}

#fc {
  fill: none;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 3s 2s linear forwards;
}
#sc {
  fill: none;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 3s 2.5s linear forwards;
}
#oc {
  fill: none;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 3s 3s linear forwards;
}

.rotate_container {
  position: absolute;
  top: 23%;
  left: 9%;
}
#rotate_top {
  position: relative;
  animation: rotate 4s 4s infinite linear;
  width: 65px;
  height: 65px;
}
#rotate_bottom {
  animation: rotate2 4s 4s infinite linear;
  position: absolute;
  top: 0;
  left: 90%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.curr {
  position: absolute;
  top: 0rem;
  left: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  align-self: center;
  gap: 2rem;
}
#middleC {
  opacity: 0;
  animation: cloud 17s 4s infinite linear, draw3 forwards 1s 4s;
  width: 4rem;
  height: 4rem;
}
#rigthC {
  opacity: 0;
  animation: cloud 14s 4s infinite linear, draw3 forwards 1s 4s;
  width: 4rem;
  height: 4rem;
}
#leftC {
  opacity: 0;
  animation: cloud 10s 4s infinite linear, draw3 forwards 1s 4s;
  width: 4rem;
  height: 4rem;
}

@keyframes cloud {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(20px, 5px);
  }
  50% {
    transform: translate(5px, 20px);
  }
  75% {
    transform: translate(10px 10px);
  }

  100% {
    transform: translate(0px 0px);
  }
}

@keyframes cloud2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
