@use "../../App.scss" as *;
.hero_container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  gap: 3rem;
  align-items: center;
  height: 80vh;
  max-width: 100%;
  overflow: hidden;
  margin-top: 7rem;
  @include breack_down(large) {
    margin-top: 2rem;
    flex-direction: column;
    padding: 1rem 2rem;
    height: auto;
    gap: 2rem;
  }
  .hero_text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include breack_down(large) {
      align-items: center;
      gap: 1rem;
      margin-top: 3rem;
    }
    h1 {
      font-size: 40px;
      font-family: "Open Sans", serif;
      font-weight: 900;
      @include breack_down(large) {
        font-size: 35px;
        text-align: center;
      }
      @include breack_down(medium) {
        font-size: 33px;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 600;
      color: #182541;
      font-family: "Open Sans", serif;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      font-family: "Open Sans", serif;
      @include breack_down(large) {
        font-size: 14px;
        text-align: center;
      }
      @include breack_down(medium) {
        font-size: 12px;
      }
    }
    button {
      margin-top: 0.5rem;
      width: fit-content;
      background-color: $light;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 20px;
      border-radius: 4px;
      outline: 1px solid $light;
      transition: 0.4s;
      box-shadow: 4px 4px 11px #293148;
      font-weight: 500;
      cursor: pointer;
      @include breack_down(large) {
        font-size: 12px;
        padding: 0.3rem 0.6rem;
      }
      &:hover {
        background-color: transparent;
        color: $light;
        box-shadow: 4px 4px 11px #a3aece;
      }
    }
  }
}

.landing_hero_image {
  width: 100%;
  img {
    width: 100%;
  }
}
