@use "../../App.scss" as *;
.acc_container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #fff;
  padding-top: 3rem;
  h2 {
    text-align: center;
  }
  .acc_slider_container {
    overflow: hidden;
    position: relative;
    padding-left: 4vw;
    .acc_icon {
      position: absolute;
      font-size: 3rem;
      color: $main;
      z-index: 3;
      transition: 0.5s;
      transform: translateY(-50%);
      cursor: pointer;
      &:hover {
        color: $light;
      }
    }
    .acc_left {
      top: 50%;
      left: 10px;
    }
    .acc_right {
      top: 50%;
      right: 10px;
    }
  }
  .acc_slider {
    display: flex;
    align-items: center;
    gap: 5vw;
    position: relative;
    transition: 0.5s;
    img {
      width: 18.75vw;
      height: fit-content;
      object-fit: cover;
      user-select: none;
    }
  }
  .acc_dark {
    background-color: $second;
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    img {
      width: 40vw;
    }
    .acc_dark_info {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      h3 {
        font-size: 1.7rem;
      }
      .acc_dark_numbers {
        display: flex;
        gap: 1rem;
        h4 {
          font-size: 1.3rem;
        }
      }
      .border_right {
        border-right: 1px solid #fff;
        padding-right: 1rem;
      }
    }
  }
}
