@use "../../App.scss" as *;
.product_container {
  min-height: 100vh;
  @include breack_down(large) {
    padding-top: 7rem;
  }
}
.product_hero_container {
  background-color: $light;
  padding: 4rem;
  .product_hero_container_content {
    background-color: #fff;
    padding: 4rem;
    border-radius: 10px;
    .product_hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      h2 {
        color: $main;
        font-size: 3rem;
        @include breack_down(large) {
          font-size: 2rem;
        }
      }
      h3 {
        color: $main;
        font-size: 1.2rem;
        @include breack_down(large) {
          font-size: 1rem;
        }
      }
      p {
        color: $second;
        @include breack_down(large) {
          font-size: 0.75rem;
        }
      }
    }
    .product_calc {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 2rem 0;

      .product_clac_lef {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .reset_button {
          border: none;
          padding: 0.5rem 1rem;
          width: 50%;
          background-color: $light;
          color: #fff;
          border-radius: 10px;
          margin-top: 2rem;
          cursor: pointer;
          outline: 1px solid $light;
          transition: 0.5s;
          @include breack_down(large) {
            padding: 0.5rem 1rem;
            font-size: 0.75rem;
          }
          &:hover {
            background-color: transparent;
            color: $light;
          }
        }
        .product_calc_input {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          select {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid $main;
            border-radius: 5px;
            background-color: #fff;
          }
          input {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid $main;
            border-radius: 5px;
          }
          input:focus {
            outline: 1px $main solid;
          }
          .error_input {
            border: 1px solid $error;
            &:focus {
              outline: none !important;
              box-shadow: none !important;
            }
          }
        }
        .product_calc_top,
        .product_calc_bottom {
          display: flex;
          gap: 1rem;
          justify-content: space-between;
        }
        .product_calc_bottom {
          .product_calc_input {
            width: 30%;
          }
          input {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid $main;
            border-radius: 5px;
          }
          input:focus,
          select:focus {
            outline: 1px $main solid;
          }
        }
        .product_btn_container {
          gap: 1rem;
          button {
            background-color: $main;
            width: 100%;
            padding: 0.7rem;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: 0.5s;
            border-radius: 5px;

            &:hover {
              outline: 1px solid $main;
              background-color: transparent;
              color: $main;
            }
          }
          display: flex;
          align-items: center;
          position: relative;
          .error_text {
            position: absolute;
            bottom: 0;
            translate: 0 120%;
            color: $error;
            width: 40rem;
            display: flex;
            flex-direction: column;
          }
        }
      }
      .product_calc_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        width: 40%;
        background-color: $main;
        padding: 2rem;
        border-radius: 10px;

        h2 {
          text-align: center;
          color: #fff;
        }
        .product_calc_div {
          display: flex;
          gap: 2rem;
          align-items: flex-start;
          color: #fff;
          .product_calc_div_icon {
            font-size: 25px;
            flex-shrink: 0;
            color: #a3e7fc;
          }
          p,
          span {
            color: #e0e0e0;
            font-size: 16px;
          }
          h3 {
            color: #fff;
            font-size: 20px;
          }
        }
      }
    }
  }
}
.solutions {
  padding: 2rem;
  display: flex;
  align-items: center;

  @include breack_down(large) {
    flex-direction: column-reverse;
  }
  img {
    width: 5rem;
    height: 5rem;
  }
  .solutions_left_container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .solutions_left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 80%;
    @include breack_down(large) {
      grid-template-columns: 1fr;
      margin-top: 2rem;
      width: 100%;
    }
    .solution_item {
      height: 15rem;
      background-color: #fff;
      border-radius: 10px;
      padding: 1.5rem;

      box-shadow: 0 0 20px #031c6e62;
    }
    .margin_t {
      margin-top: 2rem;
    }
  }
  .solutions_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    width: 50%;
    padding-left: 4rem;
    @include breack_down(large) {
      padding-left: 0;
    }
    h3 {
      color: $main;
    }
    p {
      color: $second;
    }
    button {
      border: none;
      padding: 0.5rem 1rem;
      background-color: $light;
      color: #fff;
      border-radius: 10px;
      margin-top: 2rem;
      cursor: pointer;
      outline: 1px solid $light;
      transition: 0.5s;
      &:hover {
        background-color: transparent;
        color: $light;
      }
    }
  }
}
.process {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  .process_text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
    text-align: center;
    margin-bottom: 2rem;
    @include breack_down(large) {
      width: 90%;
    }
    h3 {
      color: $main;
    }
    p {
      color: $second;
    }
  }
  .process_body {
    display: flex;
    align-items: center;
    gap: 10rem;
    @include breack_down(large) {
      flex-direction: column;
      gap: 3rem;
    }

    img {
      width: 50%;
      @include breack_down(large) {
        width: 100%;
      }
    }
    .process_left {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h2 {
        color: $main;
      }
      p {
        color: $second;
      }
      .process_item {
        p {
          margin-left: 1rem;
          color: black;
        }
      }
    }
  }
}
.benefits {
  padding: 5rem 0;
  h3 {
    text-align: center;
    color: $main;
  }
  .benefits_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
    @include breack_down(large) {
      gap: 1rem;
    }
    .benefits_item {
      display: flex;
      gap: 1rem;
      width: 35%;
      background-color: $background;
      padding: 2rem;
      border-radius: 10px;
      min-height: 10rem;
      box-shadow: 0 0 20px #031c6e49;
      @include breack_down(large) {
        width: 90%;
      }
      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
.sticky_nav {
  margin-top: 4rem;
  position: sticky;
  width: fit-content;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  border-radius: 10px;
  outline: 1px solid $main;
  overflow: hidden;
  @include breack_down(large) {
    left: 0%;
    transform: translateX(0%);
    width: 100%;
    top: 5rem;
    display: flex;
    justify-content: space-between;
  }
  .sticky_btn {
    @include breack_down(large) {
      font-size: 10px;
      // padding: 0.4rem;
      width: 100%;
    }
    border: none;
    background-color: transparent;
    padding: 0.4rem 1rem;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;

    font-weight: 600;
    color: $main;
    @include breack_up(medium) {
      &:hover {
        background-color: $main;
        color: #fff;
      }
    }
  }
  .sticky_btn_active {
    background-color: $main;
    color: #fff;
  }
}
