@use "../../App.scss" as *;
.nav_container {
  .nav_footer {
    background-color: $second;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    svg {
      width: 2rem;
      height: 2rem;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        color: $light !important;
      }
    }
    .nav_icons {
      display: flex;
      gap: 1rem;
    }
    .nav_numbers {
      display: flex;
      gap: 3rem;
      .nav_number_container {
        display: flex;
        align-items: center;
        color: #fff;
        gap: 1rem;
        p {
          font-size: 20px;
        }
      }
    }
  }
  .nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: 2rem;
    .nav_logo {
      img {
        width: 4rem;
      }
    }
    .nav_links {
      display: flex;
      gap: 2rem;
      .nav_link_relative {
        position: relative;
        padding: 1rem 0;
        .nav_link_absolute {
          position: absolute;
          width: 70vw;
          height: 80vh;
          background-color: #fff;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 100.1%);
          z-index: 1000;
          display: none;
        }
      }
      .nav_link_overflow {
        padding: 0.5rem 0;
        overflow: hidden;
      }
      .nav_link {
        font-size: 1.2rem;
        text-decoration: none;
        color: $second;
        position: relative;
        font-weight: 500;
        transition: 0.5s;
        padding: 0.5rem 0;
        overflow: hidden;
        &::before {
          transition: 0.5s;
          content: "";
          position: absolute;
          bottom: -0px;
          left: -100%;
          width: 100%;
          height: 3px;
          background-color: $second;
        }
      }
      .active {
        overflow: hidden;
        &::before {
          left: 0;
        }
      }
      .hover_link {
        color: $light;
        overflow: hidden;
        &::before {
          transition: 0.5s;
          content: "";
          position: absolute;
          bottom: -0px;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $light !important;
          opacity: 1;
          animation: drawLine 0.5s;
        }
      }
    }
    .nav_btns {
      display: flex;
      gap: 2rem;
      button {
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        transition: 0.6s;
      }
      .start_btn {
        background-color: $light;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        outline: 2px solid $light;
        &:hover {
          background-color: transparent;
          color: $light;
        }
      }
    }
  }
}
.display_block {
  display: block !important;
}
@keyframes drawLine {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
